
@font-face {
    font-family: cabeca;
    src: url(VIRUST.ttf);
}
@font-face {
    font-family: lemo;
    src: url(LEMONMILK-Light.otf);
}
@font-face {
    font-family: nova;
    src: url(VarsityTeam-Bold.otf);
}
*{
    padding: 0px;
    margin: 0px;
}

.cima img{
    width: 400px;
    max-height: 300px;
    margin: auto;
   
}

body{
    color: white;
    background-color: rgba(0, 0, 0, 0.884);
}
main{
  width: 390px;
  margin: auto;
  background-color: rgba(41, 41, 41, 0.801);
  border-radius: 15px;
  box-shadow: 7px 7px 5px black;


}
div{
    display: flex;
    align-items: center;
    
} 
.certo img{
    width: 80px;
    margin-left: 40px;
}
div h1{
    font-family: cabeca;
    font-size: 40px;
    color: #e65423;
    text-shadow: 2px 1px 1px black;
    margin-top: 5px;
    padding-top: 10px;
    
}
div h1 p{
    font-size: 20px;
    text-align: center;
    font-family: cabeca;
    margin-bottom: 30px;
    
    
}
nav{
    margin-right: 20px;
    display: inline-block;
    padding: 10px;
}
nav img{
    width: 80px;
}
#a{
    border: 1px solid rgb(0, 0, 0);
    width: 70px;
    height: 75px;
    border-radius: 25px;
    background-color:#e65423;
    display: inline-block;
    margin-right: 40px;
    margin-left: 30px;
    box-shadow:  3px 2px 1px black;
}
#a img{
    width: 70px;
}

#b{
    border: 1px solid rgb(0, 0, 0);
    width: 70px;
    height: 75px;
    border-radius: 25px;
    background-color:#e65423;
    display: inline-block;
    margin-right: 40px;
    box-shadow:  3px 2px 1px black;

}
#b img{
    width: 70px;
}
#c{
    border: 1px solid rgb(0, 0, 0);
    width: 70px;
    height: 75px;
    border-radius: 25px;
    background-color:#e65423;
    display: inline-block;
    box-shadow: 3px 2px 1px black ;

}
#c img{
    width: 70px;
}
aside{
    padding-top: 20px;
    display: inline-block;
    
   
}
.ab{
    border: 1px solid rgb(0, 0, 0);
    width: 70px;
    height: 72px;
    border-radius: 25px;
    background-color: #e65423;
    display: inline-block;
    margin-left: 75px;
    margin-right: 60px;
    padding: 2px;
    box-shadow:  3px 2px 1px black;
}
.ab a img{
    width: 69px;
    
}
.bc{
    border: 1px solid rgb(0, 0, 0);
    width: 70px;
    height: 75px;
    border-radius: 25px;
    background-color:#e65423;
    display: inline-block;
    box-shadow: 3px 2px 1px black ;

}

.bc a img{
    
    padding-top: 3px;
    width: 70px;
    
}

article img {
    border: 3px solid black;
    border-radius: 60px;
    height: 120px;
    width: 100px;
    margin-left: 145px;
    margin-top: 20px;
 }
  h2 {
    text-align: center;
    font-family: cabeca;
    text-shadow: 2px 2px 2px black;
    color: rgba(240, 248, 255, 0.829);
    
}
 article p{
    padding-top: 10px;
    text-align: center; margin-bottom: 20px;
font-family: lemo;
color: #e65423;
font-weight: bold;
text-shadow: 1px 1px 1px black;

}
footer{
    background-color: rgb(0, 0, 0);
    border: 1.5px solid black;
    width: 350px;
    margin-top: 25px;
    margin-bottom: 13px;
    margin-left: 20px;
    border-radius: 40px;
    box-shadow: 1px 1px  black;
}
footer p{
    font-family: cabeca;
    text-align: center;
    padding: 1px;
    color: rgba(255, 255, 255, 0.678);
    
}